$mainTextC: #444547;
$activeC: #7AA4BA;
$bgC: #E6EEF1;

.nav-menu-link:nth-child(1) {
    display: block;
}

.user-agreement-text p {
    color: $mainTextC;
    font-size: 20px;
    text-indent: 55px;
    text-align: justify;
    line-height: 133.2%;
    hyphens: auto;
}

footer {
   margin-top: 300px;
}